.intro {
  width: 100%;
  height: 800px;
  background: url(../img/hero.png) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.intro_layer {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(78, 52, 37, 0.1)), to(rgba(78, 52, 37, 0.1)));
  background: linear-gradient(0deg, rgba(78, 52, 37, 0.1), rgba(78, 52, 37, 0.1));
  width: 100%;
  height: 100%;
}

header {
  width: auto;
  background: rgba(78, 52, 37, 0.4);
}

.order {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.order .order__item {
  margin-top: 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  padding: 24px;
  width: 500px;
  background: rgba(78, 52, 37, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.order .order__item h1, .order .order__item h2 {
  color: #e7c56b;
  margin: 10px 0;
}

.order .order__item h1 {
  font-size: 72px;
  line-height: 84px;
}

.order .order__item h2 {
  font-size: 40px;
}

.order .order__item p {
  color: #fff;
  line-height: 160%;
}

.order .order__item input {
  border: 1px solid #fff;
  padding: 10px;
  margin: 10px 0;
  color: rgba(241, 241, 241, 0.4);
  background-color: transparent;
  color: #fff;
}

.order .order__item .intro__order {
  margin-top: 10px;
  color: #000;
  display: block;
  padding: 10px 40px;
  font-size: 20px;
  background-color: #e7c56b;
  border: none;
  cursor: pointer;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header .logo {
  font-size: 65px;
}

.header .links a {
  margin: 0 2em;
  font-size: 18px;
}

.header .social_net a {
  margin: 0 1em;
}

.feedback {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: -2em;
}

.feedback .fb__item {
  background-color: #e7c56b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback .fb__item img {
  margin-top: 40px;
  border: none;
}

.feedback .fb__item p {
  padding: 50px;
}

.feedback .brdr {
  border-left: 2px solid #4E3425;
  border-right: 2px solid #4E3425;
}

.projects {
  margin: 50px 0;
}

.projects h1 {
  text-align: center;
  margin: 20px;
}

.projects .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#myCarousel {
  margin: 20px 0;
}

.contact {
  margin-top: 40px;
  width: 100%;
  height: 100vh;
  background: url(../img/contacts-img.png) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact .contact__layer {
  width: 100%;
  height: 100%;
  background: rgba(78, 52, 37, 0.3);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.contact .contact__layer .contact__inner {
  padding-top: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  color: #fff;
}

.contact .contact__layer .contact__inner .con__item {
  margin: 80px auto;
}

.contact .contact__layer .contact__inner .con__item h2 {
  margin: 0px 10px;
  font-size: 40px;
  font-weight: 400;
}

.contact .contact__layer .contact__inner .con__item p {
  margin: 12px 10px;
  font-size: 20px;
  line-height: 32px;
}

.contact .contact__layer .contact__inner .con__item input {
  color: #fff;
  border: 1px solid #FFFFFF;
  width: 450px;
  height: 64px;
  padding: 16px;
  background-color: transparent;
  outline: none;
}

.contact .contact__layer .contact__inner .con__item .contact__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  padding: 21px 59px;
  background-color: #e7c56b;
  color: #000;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  width: 450px;
}

.history {
  margin: 20px 0;
}

.history h2 {
  font-size: 40px;
  line-height: 47px;
  margin: 40px;
  text-align: center;
}

.history .history__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.history .history__grid h4 {
  font-size: 24px;
  line-height: 28px;
  margin: 20px 0;
}

.location {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.location .map {
  border: 1px solid #4e3425;
}

.location .loc__desc {
  width: 676px;
  height: 401px;
  margin-left: -40px;
  background: #E7C56B;
  padding: 30px 100px 30px 40px;
}

.location .loc__desc h2 {
  padding-bottom: 20px;
}

.about {
  margin: 50px 0;
}

.about h2 {
  text-align: center;
  margin-bottom: 20px;
}

.about img {
  width: 100%;
  height: 100%;
}

.about p {
  margin: 20px 100px;
  color: #4e3425;
  line-height: 32px;
}

.menu-btn {
  display: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #D6B369;
}

.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu-btn span::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.menu-btn span::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.menu-btn_active span {
  height: 0;
}

.menu-btn_active span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-btn_active span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-block {
  display: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: scaleX(0) translateX(20%);
          transform: scaleX(0) translateX(20%);
  opacity: 0;
}

.menu-block a {
  color: #D6B369;
  padding: 20px;
}

.menu-block a {
  border-bottom: 2px solid transparent;
}

.menu-block a:hover {
  border-bottom: 2px solid #D6B369;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu-block_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #4e3425;
  -webkit-transform: scaleX(1) translateX(0%);
          transform: scaleX(1) translateX(0%);
  opacity: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 80px;
  left: 0;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .header .logo {
    font-size: 35px;
  }
  .header .links {
    display: none;
  }
  .header .menu-btn {
    display: block;
    width: 50px;
  }
  .feedback {
    max-width: 720px;
  }
  .feedback .fb__item img {
    width: 48px;
    height: 48px;
  }
  .feedback .fb__item p {
    padding: 20px;
  }
  .contact .contact__layer .contact__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact .contact__layer .contact__inner .con__item {
    margin: 0 auto;
  }
}

footer {
  background-color: #4e3425;
  color: #fff;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

footer .footer img {
  padding-right: 10px;
  width: 32px;
}

footer .footer p {
  padding: 20px 0;
}

footer .footer .logo {
  font-size: 46px;
}

footer .footer .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body,
html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  margin: 0;
  margin-left: 60px;
  margin-right: 60px;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

::-ms-input-placeholder {
  color: #fff;
}

::placeholder {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */