$primary: rgba(78, 52, 37, 1);
$secondary: rgba(231, 197, 107, 1);

.feedback{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: -2em;
    .fb__item{
        background-color: $secondary;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        img{
            margin-top: 40px;
            border: none;
        }
        p{
            padding: 50px;
        }   
    }
    .brdr{
        border-left: 2px solid #4E3425;
        border-right: 2px solid #4E3425;
    }
}