
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    .logo{
        font-size: 65px;
    }
    .links{
        a{
            margin: 0 2em;
            font-size: 18px;
        }
    }
    .social_net{
        a{
            margin: 0 1em;
        }
    }
}