@import "intro";
@import "header";
@import "feedback";
@import "projects";
@import 'contact';
@import "history";
@import "location";
@import "about";

@import 'burger';
@import "media";
@import "footer";

$primary: rgba(78, 52, 37, 1);
$secondary: rgba(231, 197, 107, 1);
$roboto: 'Roboto', sans-serif;

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $roboto;
}

a{
    text-decoration: none;
    color: #fff;
}
.container{
    margin: 0;
    margin-left: 60px;
    margin-right: 60px;
}

::placeholder{
    color: #fff;
}